<div class="iu-row-wrapper iu-row-wrapper--full-width iu-row-wrapper--banner">
    <div class="iu-bg-opacity"></div>
    <div class="iu-row iu-row--banner">
        <div class="iu-content">
            <div class="iu-box iu-box--banner">
                <div class="iu-banner__text">
                    <div class="iu-logo">
                        <h3>Notes<b>3D</b></h3>
                    </div>
                    <p>Register now for free and upload your own Meshes!</p>
                    <a id="iu-btn--cta" class="iu-btn iu-btn--cta iu-btn--colored" href="#">Register</a>
                </div>
                <div class="iu-banner__img">
                    <img src="media/banner-mannequin.png" alt="banner-mannequin-img">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="iu-row-wrapper">
    <div class="iu-row">
        <div class="iu-content">
            <div class="iu-box iu-box--title">
                <h2>How it works</h2>
            </div>
        </div>
    </div>
</div>

<div class="iu-row-wrapper">
    <div class="iu-row--two-col">    
        <div class="iu-two-col--box iu-two-col--box--black iu-two-col__img">
            <img src="media/placeholder-img.png" alt="placeholder!TODO">
        </div>
        <div class="iu-two-col--box iu-two-col--box--white iu-two-col__text">
            <div>
                <h5>Register</h5>
                <p>
                    is to register an account and log in. You can do this easily via the login button in the header nav bar or by
                    clicking on the call to action register button in the banner. Afterwards you will be redirected to your profile
                    page where you can see your profile information, contactlist and all uplodas you have done.
                </p>
                <p>
                    Profile pictures are not supported as of now.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="iu-row-wrapper">
    <div class="iu-row--two-col iu-row--two-col--reverse">
        <div class="iu-two-col--box iu-two-col--box--white iu-two-col__text">
            <div>
                <h5>Upload</h5>
                <p>
                    You can upload any file via the uploads page. To get to the uploads page, on your profile page click on any of
                    the uploads in your list or the '+' button. You can also access the uploads page via the header or footer. 
                </p>
                <p>
                    Uploading a file is done by selecting it via the 'select files' button. You can upload multiple files at once.
                    Adding a note is optional, in the case that you are uploading multiple files the note you entered will be added
                    to all uploaded files.
                </p>
                <p>
                    Uploads can be deleted anytime via the trash icon on the right of the upload in the uploads list.
                    Be careful when doing so as there is no confirm action implemented as of now.
                </p>
            </div>
        </div> 
        <div class="iu-two-col--box iu-two-col--box--black iu-two-col__img">
            <img src="media/placeholder-img.png" alt="placeholder!TODO">
        </div>
    </div>
</div>

<div class="iu-row-wrapper">
    <div class="iu-row--two-col">    
        <div class="iu-two-col--box iu-two-col--box--black iu-two-col__img">
            <img src="media/placeholder-img.png" alt="placeholder!TODO">
        </div>
        <div class="iu-two-col--box iu-two-col--box--white iu-two-col__text">
            <div>
                <h5>Contacts</h5>
                <p>
                    You can add a contact by clicking on the 'Add Contact' icon on your profile page. Once you have entered the username
                    of your contact in the popup window the user will be added to your contacts list. 
                </p>
                <p>
                    The contact list is similar to a following list on other social media sites so there is no request system.
                    As of now there is no way to set the visibility of your uploads, you can add any user and look at all of their uploads.
                    Please be careful not to upload sensetive information.
                </p>
            </div>
        </div>
    </div>
</div>
