/* Table of contents */

/*
#2f4353;
#F8F1F1
*/

@import url('model-viewer-style.css');

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

/* colors */
:root{
    --main-color:#010101;
    --off-white-color:#f9f9f9;
    --off-black-color:#141414;
    --accent-color-dark:#E57C23;
    --accent-color-bright:#E8AA42;
    --default--um-color:#46c146;
    --link-color:#1a79ca;
}
/** palette inspiration source: https://colorhunt.co/palette/025464e57c23e8aa42f8f1f1 */

html, body{
    background-color:var(--main-color);
    color:var(--main-color);
    margin:0;
    font-family:'Roboto', sans-serif;
    font-size:24px;
    color:var(--off-white-color);
}

/* fonts */
h1,h2,h3,h4,h5,h6{
    margin:0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 72px;
    font-weight:100;
}

h3 {
    font-size:32px;
}

h4 {
    font-size:24px;
}

/* media */
img{
    max-width:480px;
}

/* temp ?? */

#iu-popup--logout-btn > a{
    position: relative;
}

header form{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

header button{
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

#new-upload--note{
    width: 100%;
    min-height: 80px;
    max-height: 120px;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    outline: none;
    border-radius: 6px;
}




#edit-upload-form {
    display: flex;
    flex-direction: column;
}

#edit-upload-form > label {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
}

#edit-upload-form i {
    width: 24px;
    height: 24px;
    font-size: 24px;
    color:#fff;
}

#btn--cur-note--edit,
#btn--cur-note--submit {
    width: 68px;
    height: 68px;
    background: linear-gradient(to bottom right, #00358e, #0e6494, #00d4ff);
    border-radius: 100%;
    /* padding: 12px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.cur-note--readonly{
    outline: none;
    background:#333;
    border: solid 1px #333;
}


#upload-files{
    display:none;
    /* this is accessed through the label (see below) */
}

#upload-user{
    display:none;
    visibility:hidden;
}

.file-upload-custom-styling,
#upload-submit{
    border: none;
    border-radius: 12px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    padding:0 20px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #984d1a, #da8f23, #ffe075);
    text-transform: uppercase;
    color: var(--off-white-color);
    cursor: pointer;
}
.file-upload-custom-styling:hover,
#upload-submit:hover{
    background: var(--accent-color-bright);
}

.file-upload-custom-styling{
    width: 180px;
}

#upload-submit{
    width: 90px;
    font-size: 42px;
}

/* layout framework */
.iu-row-wrapper{
    width:100%;
    margin:0;
}

.iu-row-wrapper--full-width{
    background-color:var(--off-white-color);
    display:flex;
    justify-content:center;
}

.iu-row{
    max-width:1480px;
    min-width:80%;
    margin:0 auto;
}
/*
.iu-content{
    padding: 40px;
}
*/

/* boxes */
.iu-box {
    border-radius:24px;
    margin:0 40px;
}

.iu-box--title{
    margin-top:100px;
    margin-bottom:40px;
}

.iu-box--profile-img {
    position: relative;
    margin-top:-100px;
    margin-bottom: 40px;
    z-index:99;
}

/* steps */
.iu-box--steps{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-top:20px;
}
.iu-box--steps__step {
    display:flex;
    max-width:100%;
    position:relative;
    margin:16px 0;
    background:var(--off-white-color);
    border-radius:26px;
    color:var(--main-color);
    box-shadow: #333 0px 0px 6px;
}

.iu-box--steps__step > .iu-step__num{
    position:absolute;
    top:calc(50% - 80px);
    left:-80px;
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    background:var(--off-white-color);
    font-size: 96px;
    font-weight: 800;
    box-shadow: #333 0px 0px 6px;
}

.iu-box--steps__step > .iu-step__img > img {
    border-radius: 26px 4px 4px 26px;
    max-width:100%;
    height: 100%;
}

.iu-box--steps__step > .iu-step__text {
    padding:22px 38px;
}

/* media querries */
@media screen and (max-width:1078px) {
    .iu-box--steps{
        flex-direction:row;
        margin:160px 4px 4px 4px;
    }
    .iu-box--steps__step {
        display:block;
        max-width:480px;
    }
    .iu-box--steps__step > .iu-step__num{
        top:-80px;
        right:calc(50% - 80px);
    }
    .iu-box--steps__step > .iu-step__img > img {
        border-radius: 26px 26px 4px 4px;
        height: unset;
    }
    /* !TODO fix margins on the step boxes left and right - low priority
    .iu-box--steps:first-child {
        margin-left:0;
    }
    .iu-box--steps:last-child {
        margin-right:0;
    }
    */
}

/* header */
.iu-header {
    position: fixed;
    background: var(--main-color);
    width: 100%;
    z-index: 99;
}

.iu-uploads-grid,
.iu-row--banner {
    margin-top:75px!important; /*adjust for fixed header*/
}

.iu-header .iu-content{
    padding: 0 40px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
}

.iu-logo > h1{
    font-weight: 100;
}
.iu-logo > h1 > a {
    color:var(--off-white-color);
    text-decoration:none;
}

.iu-nav{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    list-style: none;
    margin: 10px 0;
}

.iu-nav > li {
    color:var(--off-white-color);
    margin-left:2em;
    padding:0;
}
.iu-nav li:hover {
    cursor: pointer;
    background-color:#fff;
    color:var(--main-color);
}
.iu-nav a {
    text-decoration: none;
    color:inherit;
    display:block;
    padding: 12px;
}

/* Banner */
.iu-row-wrapper--banner {
    position:relative;
    background: url('/media/banner-wallpaper.jpg');
    background-position: center center;
}
.iu-row-wrapper > div.iu-bg-opacity {
    position: absolute;
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,.5);
    opacity:22;
}
.iu-row--banner {
    z-index:33;
}

.form-row-btn-row {
    display: flex;
    justify-content: space-between;
    margin-top: 12px!important;
}

.iu-box--banner {
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 800px;
}

.iu-banner__text .iu-logo > h3 {
    color:var(--off-white-color);
    font-weight: 100;
    font-size: 82px;
    margin-bottom:0px;
}
.iu-banner__text > p {
    color:var(--off-white-color);
    margin-bottom: 48px;
}

.iu-banner__img > img {
    max-height:480px;
}

/* profile */
.iu-box--profile {
    width:70%;
}

.iu-content--profile .iu-profile--title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight:100;
    letter-spacing: 1px;
    margin: 1em 0;
}

.iu-profile-card {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 4px;
}

.iu-content--profile {
    display:flex;
    justify-content: space-between;
}

.iu-profile--img {
    padding: 6px;
    background: #000;
    margin: 1em;
    border-radius: 4px;
    display: flex;
}

.iu-profile--img > img {
    width:240px;
    height:240px;
    border-radius:4px;
}

.iu-profile--desc {
    border-radius: 4px;
    color: var(--main-color);
    padding: 40px;
    display:flex;
    flex-direction: column;
}

.iu-profile--desc hr {
    background: #000;
    height: 3px;
    width: 60%;
    margin-left: 0;
}

.profile--desc b {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.iu-box--fl {
    width: 30%;
}


.iu-friendlist > ul {
    padding: 0;
    margin: 0;
    overflow: auto;
    max-height:365px;
}

.iu-friendlist li.singlefr {
    list-style: none;
    padding: 0.2em;
    margin: .5em .5em 0 0;
    background: #fff;
    border-radius: 50px;
    display:flex;
    align-items: center;
}

.iu-friendlist li.singlefr > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1em;
}
.iu-friendlist li.singlefr p {
    margin: 0.15em 0;
    color:#000;
    font-size: 18px;
}

.iu-friendlist li.singlefr p.singlefr--company {
    color: #777;
    font-weight: 300;
}


/* mesh viewer [abbreviation: mv]*/
.iu-row-wrapper--mv * {
    margin:0;
    padding:0;
}

.iu-row-wrapper--mv h2 {
    font-size: 48px;
}

.iu-mv{
    min-height: calc(100vh - 75px);
    height: 100%;
    width: 100%;
    background: var(--off-black-color);
}

/* uploads page */
.iu-content--mv-left {
    position: relative;
    height:fit-content;
}

.iu-box--edit-form {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 12px;
    background: #333;
    border-radius: 4px;
}


.iu-content--mv-right > .list-container {
    height: -webkit-fill-available;
}
.iu-content--mv-right > .iu-mv-right--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1em 1em;
}

.iu-uploads-grid {
    display:grid;
    grid-template-columns: 4fr 1fr;
    background: var(--main-color);
    max-width: 100%;
    min-width: 100%;
    margin-top:75px!important;
}

#cur-upload--note,
#new-upload--note {
    padding:.4em;
    background:#222;
    color:var(--off-white-color);
    resize: none;
}

.iu-um-list {
    padding: 0;
    max-height: 60vh;
    overflow-y: auto;
    /*
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: #666 #444;
    */
}

#iu-um-list::-webkit-scrollbar,
.iu-note::-webkit-scrollbar,
.iu-friendlist > ul::-webkit-scrollbar {
    width:.5em;
}
#iu-um-list::-webkit-scrollbar-thumb,
.iu-note::-webkit-scrollbar-thumb,
.iu-friendlist > ul::-webkit-scrollbar-thumb {
    background-color: #777;
}
#iu-um-list::-webkit-scrollbar-track,
.iu-note::-webkit-scrollbar-track,
.iu-friendlist > ul::-webkit-scrollbar-track {
    background-color: #555;
}

.iu-um {
    display:flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 4px;
    margin: 6px;
}

.iu-um-list > .iu-um:hover {
    opacity: .9;
}

.iu-um-list > .iu-um--active{
    background:#ccc;
}

.iu-um__color {
    min-height:100%;
    width:24px;
    background:linear-gradient(to bottom, #00358e, #0e6494, #00d4ff); 
    border-radius: 4px 0 0 4px;
}

.iu-um-list > .iu-um--active .iu-um__color {
    /*background: linear-gradient(to bottom, #0f7b37, #08cf50, #00ffb1);*/
    background: linear-gradient(to bottom, #984d1a, #da8f23, #ffe075);
}

.iu-um__desc,
.iu-um__desc > a {
    font-size:14px;
    color:var(--main-color);
    text-decoration: none;
}

.iu-um__desc p {
    margin: 2px 0;
}

.iu-um__desc {
    padding: 12px;
    width: -webkit-fill-available;
}

.iu-um__del{
    position:relative;
    min-height: 100%;
    padding: 0 12px;
    border-radius: 0 4px 4px 0;
    color:var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px dotted #333;
    cursor: pointer;
}
.iu-um__del:hover{
    background:red;
    color:var(--off-white-color);
    transition:.1s ease-in-out;
    border-left:1px solid red;
}
.iu-um__del > a {
    position:absolute;
    height:100%;
    width:100%;
}

/* Popup */
.iu-center-wrapper {
    height:100vh;
    width:100vw;
}
.iu-popup{
    position: fixed;
    z-index: 99;
    top:-150%; /* overwritten on js call */
    left:50%;
    opacity:0; /* overwritten on js call */
    transform:translate(-50%,-50%) scale(1.25);
    width:380px;
    padding:20px 30px;
    background:var(--main-color);
    box-shadow:#333 0px 0px 6px;
    border-radius:4px;
    border: 2px solid #fff;
    color: var(--off-white-color);
    box-shadow: 0 0 10px #00d4ff;
    border-radius: 4px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.iu-popup--active{
    top:50%;
    opacity:1;
    transform:translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 200ms ease-in-out 0ms;
}

.iu-popup--register .iu-form--register {
    display: block;
    visibility: visible;
}
.iu-popup--register .iu-form--login {
    display: none;
    visibility: hidden;
}

.iu-popup--login .iu-form--register {
    display: none;
    visibility: hidden;
}
.iu-popup--login .iu-form--login {
    display: block;
    visibility: visible;
}
.iu-popup--login .iu-page-selection-btn:nth-child(1) {
    background:#ccc!important;
    cursor:auto;
}

.iu-popup--register .iu-page-selection-btn:nth-child(2) {
    background:#ccc!important;
    cursor:auto;
}


.iu-popup .iu-btn--close{
    position:absolute;
    top:16px;
    right:16px;
    width:24px;
    height:24px;
    line-height:24px;
    text-align:center;
    border-radius:50%;
    background:red;
    color:var(--off-white-color);
    cursor:pointer;
    transform:rotate(180deg);
    transition:.2s ease-in-out;
}
.iu-popup .iu-btn--close:hover {
    transform: rotate(170deg);
    opacity: 0.85;
}

.iu-popup .iu-form h3{
    text-align: center;
    margin:20px 0;
    font-weight: 100;
    text-transform: uppercase;
}
.iu-popup .iu-form .iu-form-element {
    margin:15px 0;
}

.iu-popup .iu-form .iu-form-element label {
    font-size:16px;
}
.iu-popup .iu-form .iu-form-element input[type="text"],
.iu-popup .iu-form .iu-form-element input[type="password"] {
    margin-top:6px;
    display:block;
    width:-webkit-fill-available;
    padding:10px;
    outline:none;
    border: 1px solid #555;
    border-radius: 4px;
    background: var(--off-black-color);
    color:#fff;
}

.iu-popup .iu-form .iu-form-element input[type="checkbox"] {
    margin-right: 6px;
}

.iu-popup .iu-form .iu-form-element button {
    width:100%;
    height:48px;
    border:none;
    border-radius:32px;
    outline: none;
    cursor:pointer;
}

.iu-popup .iu-form .iu-form-element a {
    display:block;
    text-align:right;
    font-size:15px;
    color:var(--link-color);
    text-decoration:none;
    font-size: 16px;
    font-weight:100;
}

.iu-popup__page-selection-wrapper {
    margin-top:40px;
}

button.iu-page-selection-btn {
    padding:12px;
    margin:1px;
    width:50%;
    height:48px;
    border:none;
    box-shadow:none;
    cursor:pointer;
}

.iu-popup .iu-page-selection-btn:nth-child(1) {
    border-radius: 32px 0 0 32px;
}

.iu-popup .iu-page-selection-btn:nth-child(2) {
    border-radius: 0 32px 32px 0;
}

.iu-popup .iu-form-element--submit > button,
.iu-page-selection-btn > span {
    padding: 0 8px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

/* Buttons */
.iu-btn {
    padding:12px;
    border:#fff solid 1px;
    border-radius: 4px;
    text-decoration: none;
}

.iu-btn--colored{
    color:var(--off-white-color)!important;
    background-color:var(--accent-color-dark);
    background: linear-gradient(to bottom right, #00358e, #0e6494, #00d4ff);
    border: none;
    /*border-color:var(--accent-color-dark);*/
}

.iu-btn--colored:hover{
    background: linear-gradient(to bottom right, #134fb6, #2294d6, #31dcff);
    border: none;
}

.iu-btn--cta {
    padding: 22px 120px;
    border-radius: 12px;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
}

/* Utility */
.white {
    color:var(--off-white-color);
}

.flex {
    display:flex;
    flex-direction:row;
    justify-content:start;
}

.iu-row-margin {
    margin: 40px 0;
}
.iu-row-margin-btm {
    margin-bottom: 80px;
}


/* footer */
.iu-footer {
    color: #000;
    background: #fff;
}

.iu-footer {
    /*margin-top: 120px;*/
    padding: 80px 0;
}

.iu-footer .iu-content {
    display: flex;
    justify-content: space-between;
}

.iu-box--footer h3 {
    margin-bottom: 1em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.iu-box--footer p {
    margin: .5em 0;
}

/* two cols */
.iu-row--two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.iu-two-col--box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 10em;
    min-height: 50vh;
}

.iu-two-col--box--black {
    background: #fff;
    color: #000;    
}

.iu-two-col--box--white {
    background: #000;
    color: #fff;
}

.iu-two-col__img > img {
    max-width:unset;
}